<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3nc0d3d</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'global_intermundane.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

</head>
<body class="bg-dark">
    {% include 'intermundane/navbar.html' %}
    <div style="position:fixed;bottom:5px;right:5px;z-index:3;width:320px;height:50px; display:flex; align-items:center; justify-content:center; max-width: 15%;">
  <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/91528537_SW1sKtGV54TtlzI.png" class="tooltipster" title="Inside the code" style="height:auto;max-width:15%;position:fixed;bottom:5px;right:5px;z-index:3;" alt="no-image-found" width="320" height="320">
    <i class="fas fa-play" style="color:#cac9cd; position:absolute;"></i>
    <iframe style="height:10rem;width:10rem;opacity:0;z-index:5;position:absolute;" src="https://www.youtube-nocookie.com/embed/lPW9qV-lvSk?controls=0" referrerpolicy="strict-origin-when-cross-origin" frameborder="0"></iframe>
    </div>
    <table style="width: 70%;margin-left:auto;margin-right:auto;"><tbody><tr><td style="width: 100%; text-align: center;">
        <span style="font-size: 36px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span>
        <strong><span style="font-size: 60px; font-family: impact, chicago;">3NC0D3D</span></strong>
          <span style="font-family: courier new,courier;"><span style="font-size: 18px;">
          <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/104100037_2ZVlqeIqWqYJ6Qd.png?1779372637" class="fr-fic fr-dii fa-bounce" style="position:relative; top:30px; --fa-bounce-start-scale-x: 1;--fa-bounce-start-scale-y: 1;--fa-bounce-jump-scale-x: 1;--fa-bounce-jump-scale-y: 1;--fa-bounce-land-scale-x: 1;--fa-bounce-land-scale-y: 1;--fa-bounce-rebound: 0;"></span><br></span>
          <span style='font-size: 18px; font-family: "courier new ", courier;'>{{ name.desc }}</span><br>
          <table style="border: 1px solid transparent;"><tbody><tr><td style="width: 100%; text-align: left;">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/104440423_NGUnTR3N2ivQOby.png?1753703061 " class="fr-fic fr-dii fr-fil" style="margin:15px; float:left" width="525" height="646.151"> <span style='font-family: "courier new ", courier; font-size: 36px;'><strong>&nbsp;{{ about.title }}</strong></span><br>
            <span style="font-size: 24px;"> {{ about.desc }} </span>
          <br></td></tr></tbody></table>
          <table style=" border: 1px solid transparent; margin-right: calc(0%);"><tbody><tr><td style="width: 100%; text-align: left;"><br>
            <span style='font-family: "courier new ", courier; font-size: 36px;'>
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/118563435_AwOOmccisYVxpA1.png " style="margin:15px; float:right" class="fr-fic fr-fir fr-dii" width="491.989" height="491.989">
            <strong>&nbsp;{{ powers.title }}</strong></span><br>
            <span style="font-size: 24px;">{{ powers.desc }}</span><br><br></td></tr>
          </tbody></table>
          </tr>
    </tbody></table>
    <br><br>
</body>
