<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{name.title}}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'global_intermundane.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

</head>
<body class="bg-dark">
    {% include 'intermundane/navbar.html' %}
    {% include 'intermundane/characters/youtube_chibi.html' %}

    <section class="character">
        <div class="character-title uppercase"> <strong class="large-screen">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong> <strong>{{ name.title }}</strong><img src="{{ name.image_link }}" class="fa-bounce character-mini-image"></div><br>
        <div class="character-subtitle">{{ name.desc }}</div><br>

        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="{{ about.image_link }}">
                        <span class="character-chapter-title"><strong>&nbsp;{{ about.title }}</strong></span><br>
                        <span> {{ about.desc }} </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ powers.image_link }}">
                        <span class="character-chapter-title"><strong>&nbsp;{{ powers.title }}</strong></span><br>
                        <span> {{ powers.desc }}</span>
                    </td>
                </tr>
                {% for lore_item in lore %}
                <tr>
                    <td>
                        {% if lore_item.image_link %}
                            <img src="{{ lore_item.image_link }}">
                        {% endif %}
                        <span class="character-chapter-title"><strong>{{ lore_item.title }}</strong></span><br>
                        <span>{{ lore_item.desc }}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
