<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Despondency</title>
  <link rel="stylesheet" href="../../static/intermundane.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

</head>
<body class="bg-dark">
    {% include 'intermundane/navbar.html' %}
    <div style="position:fixed;bottom:5px;right:5px;z-index:3;width:320px;height:50px; display:flex; align-items:center; justify-content:center; max-width: 15%;">
      <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/92895203_O34lA1iE87dTgwZ.png" class="tooltipster" title="Blood!" style="height:auto;max-width:15%;position:fixed;bottom:5px;right:5px;z-index:3;" alt="no-image-found" width="320" height="320">
        <i class="fas fa-play" style="color:#cac9cd; position:absolute;"></i>
        <iframe style="height:10rem;width:10rem;opacity:0;z-index:5;position:absolute;" src="https://www.youtube-nocookie.com/embed/c5PxxlO375A?controls=0" frameborder="0"></iframe>
    </div>
    <table style="width: 70%;margin-left:auto;margin-right:auto;"><tbody><tr><td style="width: 100%; text-align: center;">
        <span style="font-size: 36px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span>
        <strong><span style="font-size: 60px; font-family: impact, chicago;">DESPONDENCY</span></strong>
          <span style="font-family: courier new,courier;"><span style="font-size: 18px;">
          <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/104805143_pdNRpyHHVX994Gz.png?1779373037" class="fr-fic fr-dii fa-bounce" style="--fa-bounce-start-scale-x: 1;--fa-bounce-start-scale-y: 1;--fa-bounce-jump-scale-x: 1;--fa-bounce-jump-scale-y: 1;--fa-bounce-land-scale-x: 1;--fa-bounce-land-scale-y: 1;--fa-bounce-rebound: 0;"></span><br></span>
          <span style='font-size: 18px; font-family: "courier new ", courier;'>The vampiric wolf</span><br>
          <table style="border: 1px solid transparent;"><tbody><tr><td style="width: 100%; text-align: left;">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/109337315_1zb2RXB114M1Iqe.jpg" style="height:auto; margin:15px; float:left" width="525" height="646.151"><br><span style='font-family: "courier new ", courier; font-size: 36px;'><strong>&nbsp;About:</strong></span><br>
            <span style="font-size: 24px;"> Despondency was born in a world with a layer of forest so wide almost no sunlight ever comes to the ground, with dangerous creatures unkown to our world roaming around. Having never known family love nor meanings of friendships Despondency clearly knew only one thing - in this world it's kill or be killed. From a young age Despondency had to push his sense to the limit, it was the only means of survival in that environment.
            </span>
          <br></td></tr></tbody></table>
          <table style="border: 1px solid transparent;"><tbody><tr><td style="width: 100%; text-align: left;"><br>
            <span style='font-family: "courier new ", courier; font-size: 36px;'>
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/96847087_TnqIXyi2SDiqTVg.png" style="height:auto; margin:15px; float:right" width="491.989" height="491.989">
            <strong>&nbsp;Powers:</strong></span><br>
            <span style="font-size: 24px;"> One day he was deadly wounded by a creature he fought. Yet, to his surprise he was saved by glowing butterflies who seemed to had some sort of vampiric ability. The could make others inherit their own bloodthirst and that led Despondency to obtain new - blood related powers. Upon his "rebirth" not only his senses sharpened even more than from years of training in the forest, a third eye appeared on his forehead, not to see but to sense blood around him instead, didn't matter if creature was behind him, hiding, or completely out of sight, Despondency could know exactly where it was at any point of time. </span><br><br></td></tr>
          </tbody></table>
          <br><span style="font-size: 24px;">Design notes:</span><br>
          <span style="font-size: 24px;">Eye pupils are like drops of blood</span><br>
          <span style="font-size: 24px;">Has blood drops on his tail</span><br>
          <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/91718484_FCNrbtAJdyT2ALN.png" class="fr-fic fr-dib" width="799.375" height="558.352">
          <br><br><br><br><br>
        </tr>
      </tbody></table>
      <br><br>
</body>