<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Irarenai</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'global_intermundane.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

</head>
<body class="bg-dark">
    {% include 'intermundane/navbar.html' %}
    <div style="position:fixed;bottom:5px;right:5px;z-index:3;width:320px;height:50px; display:flex; align-items:center; justify-content:center; max-width: 15%;">
      <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/89744998_Qf2AfFQIForoD99.png" class="tooltipster" title="     " style="height:auto;max-width:15%;position:fixed;bottom:5px;right:5px;z-index:3;" alt="no-image-found" width="320" height="320">
        <i class="fas fa-play" style="color:#cac9cd; position:absolute;"></i>
        <iframe style="height:10rem;width:10rem;opacity:0;z-index:5;position:absolute;" src="https://www.youtube-nocookie.com/embed/pbCmbDrppx4?controls=0" referrerpolicy="strict-origin-when-cross-origin" frameborder="0"></iframe>
    </div>
    <table style="width: 70%;margin-left:auto;margin-right:auto;min-width:600px;"><tbody><tr><td style="width: 100%; text-align: center;">
        <span style="font-size: 36px;" class="hidden-sm-down"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span>
        <strong><span style="font-size: 60px; font-family: impact, chicago;">IRARENAI</span></strong>
          <span style="font-family: courier new,courier;"><span style="font-size: 18px;">
          <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/104100106_8kMsr13CU3QOj6z.png?1779373296" class="fr-fic fr-dii fa-bounce" style="position:relative; top:30px; --fa-bounce-start-scale-x: 1;--fa-bounce-start-scale-y: 1;--fa-bounce-jump-scale-x: 1;--fa-bounce-jump-scale-y: 1;--fa-bounce-land-scale-x: 1;--fa-bounce-land-scale-y: 1;--fa-bounce-rebound: 0;"></span><br></span>
          <span style='font-size: 18px; font-family: "courier new ", courier;'>{{ name.desc }}</span><br>
          <table style="border: 1px solid transparent;"><tbody><tr><td style="width: 100%; text-align: left;">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/95302232_CdoE24EYBBIO5R6.png" style="height:auto; margin:15px; float:left" width="525" height="646.151"><br><span style='font-family: "courier new ", courier; font-size: 36px;'><strong>&nbsp;{{ about.title }}</strong></span><br>
            <span style="font-size: 24px;"> {{ about.desc }} </span>
          <br></td></tr></tbody></table>
          <table style="border: 1px solid transparent;"><tbody><tr><td style="width: 100%; text-align: left;"><br>
            <span style='font-family: "courier new ", courier; font-size: 36px;'>
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/97261977_0KSvM6MckZRd3lI.png" style="height:auto; margin:15px; float:right" width="491.989" height="491.989">
            <strong>&nbsp;{{ powers.title }}</strong></span><br>
            <span style="font-size: 24px;"> {{ powers.desc }}</span><br><br></td></tr>
            </tbody></table>
        </tr>
      </tbody></table>
      <br><br>
</body>
