<div style="position:fixed;bottom:5px;right:5px;z-index:3;width:320px;height:50px; display:flex; align-items:center; justify-content:center; max-width: 15%;">
    <img src="{{youtube.image_link}}" class="tooltipster" title="{{youtube.title}}" style="height:auto;max-width:15%;position:fixed;bottom:5px;right:5px;z-index:3;" alt="no-image-found" width="320" height="320">
    <i class="fas fa-play" style="color:#cac9cd; position:absolute;"></i>
    <iframe style="height:10rem;width:10rem;opacity:0;z-index:5;position:absolute;" src="{{youtube.desc}}" referrerpolicy="strict-origin-when-cross-origin" frameborder="0"></iframe>
</div>