<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Characters</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'global_intermundane.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body class="bg-dark">
    {% include 'intermundane/navbar.html' %}

    <div class="characters-v2">
        <h1>Characters</h1>
        {% for world in worlds %}
        <div class="characters-v2-info">
            <h2>{{ world.title }}:</h2>
            <ul>
                {% for character in characters %}
                    {% if character.world.id == world.id %}
                    <li><a href="{% url 'characters' %}/{{ character }}">{{ character }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>



</body>