<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intermundane</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'global_intermundane.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
{% load i18n %}
<body class="bg-dark">
    {% include 'intermundane/navbar.html' %}

    <section class="about">
        <h1>{% trans "Info" %}</h1>
        <div id="about-info"><p>
        {% blocktrans %}This website is an arg - an interactive network narrative used to deliver a story that may be altered by players actions.<br>Throughout the website it is possible to find secret passwords that can be entered in the Box below.{% endblocktrans %}
        </p></div>
    </section>
    <section class="code">
        {% if user.is_authenticated %}
        <div style="position:fixed;bottom:5px;right:5px;z-index:-1;width:640px;height:640px; display:flex; align-items:center; justify-content:center; max-width: 30%;">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/91528537_SW1sKtGV54TtlzI.png" class="tooltipster" title="{{ response }}" style="height:auto;max-width:30%;position:fixed;bottom:5px;right:5px;z-index:3;" alt="no-image-found" width="640" height="640">
        </div>

        <h2>{% trans "Found a code?" %}</h2>
        <form id="submit-form" method="post">
            {% csrf_token %}
            <div class="input-code">
                <input type="text" class="form-control" id="code" name="code">
                <button id="submit" type="submit" class=" fa-solid fa-unlock fa-width-auto fa-lg"></button>
            </div>
        </form>
        <div class="error">
            {% if error == 'no-code' %}
                <p>{% trans 'Such code does not exist' %}</p>
            {% elif error == 'early-code' %}
                <p>{% trans 'The following code requires higher level of clearance' %}</p>
            {% endif %}
        </div>
        <div>
            {% if response %}
                {{ response }}
            {% endif %}
        </div>
        {% else %}
        <h2>{% trans "You need to login to progress this arg!" %}</h2>
        {% endif %}
    </section>
</body>

