<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intermundane</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'global_intermundane.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
{% load i18n %}
<body class="bg-dark">
    {% include 'intermundane/navbar.html' %}

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <h3>Intermundane login</h3>

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login_view' %}">
    {% csrf_token %}

    Username:<input name="username"><br>
    Password:<input name="password" type="password"><br>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

    <h3>Dont have account yet?</h3>
    <a href="{% url 'register_view' %}" class="btn btn-primary">Register</a>
</body>

