    {% load i18n %}
    <header class="header bg-darker">
        <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'index' %}"><i class="fa-solid fa-spiral fa-xl"></i> Intermundane</a></li>
            <li><a href="{% url 'worlds' %}"><i class="fa-solid fa-globe fa-xl"></i> {% trans "Worlds" %}</a></li>
            <li><a href="{% url 'characters' %}"><img class="navbar-image" src="https://f2.toyhou.se/file/f2-toyhou-se/images/104100037_2ZVlqeIqWqYJ6Qd.png?1779372637">{% trans "Characters" %}</a></li>
            <li><a href="{% url 'profile' %}"><i class="fa-solid fa-circle-user fa-xl"></i> {% trans "Profile" %}</a></li>
            <li>
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <select id="navbar-select" name="language" onchange="this.form.submit()" class="form-select bg-dark">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}

                        {% for lang_code, lang_name in LANGUAGES %}
                            <option value="{{ lang_code }}"
                                {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang_name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </li>
        </ul>


        </nav>
    </header>