<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intermundane</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'global_intermundane.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
{% load i18n %}
<body class="bg-dark">
    {% include 'intermundane/navbar.html' %}

    <br><br><br>

    <form method="post" class="log-form bg-darker center" action="{% url 'login' %}">
        <h1>{% trans "Login" %}</h1>
    {% csrf_token %}
    <div>
        {% trans "Username" %}: {{ form.username }}
    </div>
    <div>
        {% trans "Password" %}: {{ form.password }}
    </div>
    {% if form.errors %}
    <p class="error">{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}
    <div>
        <p>{% trans "Don't have account?" %} <a href="{% url 'register_view' %}">{% trans "Register instead" %}</a></p>
    </div>
    <input type="submit" class="btn btn-primary" value="{% trans "Login" %}">
    </table>
    <input type="hidden" name="next" value="{{ next }}">
    </form>

</body>





