<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intermundane</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'global_intermundane.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
{% load i18n %}
<body class="bg-dark">
    {% include 'intermundane/navbar.html' %}

    <br><br><br>

    <form method="post" class="log-form bg-darker center">
    <h1>{% trans "Register" %}</h1>
    {% csrf_token %}
    <div>
        {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div>
        {{ form.password1.label_tag }} {{ form.password1 }}
    </div>
    <div>
        {% trans "Confirm" %}: {{ form.password2 }}
    </div>
    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            <ul class="no_style">
                {% for error in errors %}
                    <li class="error">
                        {% if field == "password1" %}
                            {%trans "Password" %}
                        {% elif field == "password2" %}
                            {%trans "Confirm" %}
                        {% else %}
                            {%trans "Username" %}
                        {% endif %}
                        : {{ error }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
        {% endfor %}
    {% endif %}
    <div>
        <p>{% trans "Already have account?" %} <a href="{% url 'login' %}">{% trans "Login instead" %}</a></p>
    </div>
    <input type="submit" class="btn btn-primary" value="{% trans "Register" %}">

    <input type="hidden" name="next" value="{{ next }}">
    </form>

</body>
